h1 {
	margin-bottom: 20px;
	padding-bottom: 9px;
	border-bottom: 1px solid #eee;
}

.big {
	font-weight: 700;
	color: #222;
}

.underline {
	text-decoration: underline;
}

.navbar-light .navbar-nav .nav-link {
	color: #fff;
}

.navbar-light .navbar-nav .nav-link:active {
	text-decoration: underline;
}

.navbar a {
	color: #eee;
}

.navbar-nav h3 {
	font-weight: 700;
	color: #fff;
}

.navbar {
	background-color: #222222;
	width: 100%;
	position: fixed;
}

.navbar-brand {
	font-weight: 700;
}

.mars-red {
	color: #89210f !important;
}

.mars-icon {
	width: 32px;
	height: 32px;
	border: transparent;
}

.side-title {
	text-align: center;
}

.sidebar a {
	color: #E3E5E0;
	text-align: left;
}

.nav-item a:hover {
	color: #fff;
	text-decoration: underline;
	cursor: pointer;
}

.navbar {
	border-radius: 0rem;
	z-index: 2;
}

.navbar .nav-item {
	margin-bottom: .25em;
}

.md-datepicker-input {
	padding-top: 1px;
}

.sidebar {
	position: fixed;
	top: 50px;
	bottom: 0;
	left: 0;
	z-index: 1000;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #222222;
}

.sidebar {
	padding-left: 0;
	padding-right: 2%;
}

.sidebar .nav {
	margin-bottom: 20px;
}

.sidebar .nav-item {
	color: #737B7F;
	list-style-type: none;
	margin-left: 1em;
	margin-bottom: .5em;
}

.sidebar .nav-link {
	border-radius: .25;
}

.sidebar .nav-item a:hover {
	color: #fff;
	text-decoration: underline;
	cursor: pointer;
}

#sol {
	width:70px;
}

.hidden {
	display: none;
}

.hide {
	visibility: hidden;
}

.sidebar .nav-item a {
	color: #fff;
	padding-left: .75em;
}

.sidebar .nav-item i {
	padding-right: 20%;
}

#content {
	z-index: 1;
}

img {
    color: transparent;
}

.photo-grid {
	width:100%; 
	height:100%;
	border: 4px solid;
	border-color: #fff;
}

.center {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	display: block;
}

.modal-content {
	background: transparent;
	border: transparent;
	top: 50%;
}

.Vcenter {
	position: relative;
	top: 50%;
	transform: translateY(50%);
	padding-top: 200px;
}

@media (max-width: 1000px) {
	#sidebar {
		display: none;
	}
	.Mcenter {
		margin-right: auto;
		margin-left: auto;
		text-align: center;
		display: block;
	}
}

.md-datepicker-button {
    display: none;
}

.md-default-theme .md-datepicker-triangle-button .md-datepicker-expand-triangle, .md-datepicker-triangle-button .md-datepicker-expand-triangle {
    border-top-color: #fff;
}

.md-default-theme .md-datepicker-input-container, .md-datepicker-input-container {
    border-bottom-color: #fff;
}

.md-datepicker-input {
    color: #fff;
}
